/* Dashboard page css */


    #exzoom {
        width: 400px;
        /*height: 400px;*/
    }
    /*.container1 { margin: 150px auto; max-width: 960px; }*/
    .hidden { display: none; }

.dashboard_page .slider-image {
    max-width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px !important;
    height: 80px;
}

.product_details {
    height: 78px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
    padding-top: 3px;
    padding-bottom: 3px;
}

.dashboard_page .slider-popup-image {
    border: 1px solid #ddd;
    border-radius: 10px !important;
    height: 80px;
    width: 100%;
}

.dashboard_page .image-grid div:nth-child(odd) {
    padding-right:2px;
}

.dashboard_page .image-grid div:nth-child(even) {
    padding-left:2px;
}

.dashboard_page .image-grid div:nth-child(3) {
    padding-top:3px;
}

.dashboard_page .image-grid div:nth-child(4) {
    padding-top:3px;
}

.dashboard_page .image-grid {
    padding: 20px;
}

.dashboard_page .text-grid {
    padding: 20px;
    padding-top: 0px;
}

.dashboard_page .text-grid .text-block {
    padding-top: 10px;
    font-size: 13px;
    opacity: 0.8;
}

.dashboard_page .complaint_slider .owl-prev {
    width: 30px;
    position: absolute;
    top: 43%;
    margin-left: 0px;
    display: block !important;
    border:0px solid black;
}

.dashboard_page .complaint_slider .owl-next {
    width: 30px;
    position: absolute;
    top: 43%;
    right: -5px;
    display: block !important;
    border:0px solid black;
}

.dashboard_page .complaint_slider .owl-item {
    cursor:pointer;
    border: 1px solid #ccc;
    border-radius: 10px;    
}

.dashboard_page .pdf_icon {
    font-size: 30px;
    padding-top: 8px;
    color: red;
    cursor: pointer;
}

.dashboard_page #close_cases_filter input {
    height:35px !important;
}

.dashboard_page #close_cases_wrapper .dataTables_length select{
    height:35px !important;
}

.dashboard_page div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0px;
}

.dashboard_page .fa_right_check {
    font-size: 20px;
    color: green;
}

.dashboard_page .fa_cross_check {
    font-size: 20px;
    color: red;
}

.dashboard_page .m_t_5 {
    margin-top:5px;
}

.dashboard_page .m_t_10 {
    margin-top:10px;
}

.dashboard_page .m_t_15 {
    margin-top:15px;
}

.dashboard_page .m_t_20 {
    margin-top:20px;
}

.dashboard_page .m_t_25 {
    margin-top:25px;
}

.dashboard_page .m_t_30 {
    margin-top:30px;
}

.dashboard_page .m_t_35 {
    margin-top:35px;
}

.dashboard_page .m_b_10 {
    margin-bottom:10px;
}

.dashboard_page .m_b_15 {
    margin-bottom:15px;
}

.dashboard_page .m_b_20 {
    margin-bottom:20px;
}

.dashboard_page .m_b_25 {
    margin-bottom:25px;
}

.dashboard_page .m_b_30 {
    margin-bottom:30px;
}

.dashboard_page .m_b_35 {
    margin-bottom:35px;
}

.dashboard_page .arrow_icon {
    position: relative;
    top: 3px;
}

.dashboard_page .radio_label {
    font-weight: 400;
    font-size: 13px;
    opacity: 0.8;
}

.dashboard_page .label_margin_bottom_0px {
    margin-bottom: 0px;
}

.dashboard_page .modal .modal-dialog {
    margin-top: 50px;
}

.dashboard_page .message_box {
    font-size: 12px;
    padding: 10px;
    padding-bottom: 25px;
    opacity: 0.8;
    border: 1px solid #ccc;
}

.dashboard_page .hide {
    display:none;
}

.dashboard_page .radio_button_back {
    font-size: 18px;
    /*color: #007bff;*/
    cursor: pointer;
    margin-right: 10px;
    padding-top: 3px;
}

.custom_card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    /* border: 1px solid #e3e3e3; */
    border-radius: 0;
}

.input-helper:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    border: solid #248afd;
    border-width: 2px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-transition: all;
    -moz-transition: all;
    -ms-transition: all;
    -o-transition: all;
    transition: all;
    transition-duration: 0s;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
}

.form-check .form-check-label input[type="radio"] + .input-helper:after {
    content: "";
    width: 8px;
    height: 8px;
    background: #ffffff;
    border-radius: 50%;
    top: 6px;
    left: 6px;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    transition-duration: 0s;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    position: absolute;
}

.owl-carousel .thumbnail {
  position: relative;
  width: 100%;
  height: 80px;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.owl-carousel .thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.owl-carousel .thumbnail img.portrait {
  width: 100%;
  height: auto;
}


#complaint_modal_popup .thumbnail {
  position: relative;
  width: 100%;
  height: 80px;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid #ddd;
}

#complaint_modal_popup .thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

#complaint_modal_popup .thumbnail img.portrait {
  width: 100%;
  height: auto;
}

#close_cases tr td:last-child {
    text-align: center;
}

.daterange_btn {
    border: 1px solid #476471;
    padding: 11px 12px;
    border-radius: 0px;
    border-right: 0px;
    background: #476471;
    cursor: pointer;
}

.fa_celender_icon {
    font-size: 20px;
    color: #fff;
}

.input-daterange label {
    margin:0px;
}

.input-daterange input {
    height: 44px;
    background: #f5f5f5;
    cursor: pointer;
}

.daterange_devider {
    margin-left: 10px;
    margin-right: 10px;
}

.custom_button, .custom_button:hover, .custom_button:active {
    background-color: #f5f5f5;
    color: #131313;
    border: 1px solid #c9ccd7;
}

#popup_complaint_images img{
    cursor:pointer;
}

.form-group.required label:before {
  content:"*";
  color:red;
}

#edit_icon_block {
    padding-top: 15px;
}

#edit_icon_block i {
    color: #476471;
    font-size: 23px;
    cursor: pointer;
}


@media screen and (min-width: 992px) {
    .dashboard_page .modal-xl {
        max-width: 90% !important;
    }

    .dashboard_page .modal-lg {
        max-width: 70% !important;
    }

    .dashboard_page .modal-md-custom {
        max-width: 50% !important;
    }
}

.carousel {
    position: relative;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-inner>.item.active, .carousel-inner>.item.next.left, .carousel-inner>.item.prev.right {
    left: 0;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.carousel-inner>.active {
    left: 0;
}

.carousel-inner>.active, .carousel-inner>.next, .carousel-inner>.prev {
    display: block;
}

.carousel-inner>.item {
    -webkit-transition: -webkit-transform .6s ease-in-out;
    -o-transition: -o-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.carousel-inner>.item {
    position: relative;
    display: none;
    -webkit-transition: .6s ease-in-out left;
    -o-transition: .6s ease-in-out left;
    transition: .6s ease-in-out left;
}

.carousel-inner>.item {
    -webkit-transition: -webkit-transform .6s ease-in-out;
    -o-transition: -o-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.carousel-inner .active {
    display:block;
}


.carousel-inner>.item>a>img, .carousel-inner>.item>img {
    line-height: 1;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto;
}

.carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 30px;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgb(0 0 0 / 60%);
}

.carousel-control.left {
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,.0001)));
    background-image: linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
}



.carousel-control .fa-angle-left, .carousel-control .icon-prev {
    margin-left: -15px;
}

.carousel-control .fa-angle-right, .carousel-control .icon-next {
    margin-right: -15px;
}

.carousel-control .fa-angle-left, .carousel-control .fa-angle-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    font-size: 40px;
}

.carousel-control .fa-angle-left, .carousel-control .icon-prev {
    left: 50%;
    margin-left: -10px;
}

.carousel-control .fa-angle-left, .carousel-control .fa-angle-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
}

.carousel-control.right {
    right: 0;
    left: auto;
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.5)));
    background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
}

.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgb(0 0 0 / 60%);
    filter: alpha(opacity=50);
    opacity: .5;
}

.carousel-control:hover {
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgb(0 0 0 / 60%);
    filter: alpha(opacity=50);
    opacity: .5;
}

.more_image_count {
    position: absolute;
    font-size: 22px;
    top: 25px;
    left: 30px;
    /*opacity: 0.7;*/
}

.more_image_count_popup {
    position: absolute;
    font-size: 22px;
    top: 25px;
    left: 30px;
    /*opacity: 0.7;*/
}

.carousel-control .fa-angle-left, .carousel-control .fa-angle-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    font-size: 30px;
}

.carousel-control .fa-angle-right, .carousel-control .icon-next {
    right: 50%;
    margin-right: -10px;
}

.carousel-control .fa-angle-left, .carousel-control .fa-angle-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
}

.magnify-button {
    color:#fff;
}

.magnify-modal {
    background-color: #000000 !important; 
}

.magnify-modal:hover {
    background-color: #000000 !important;
}

/*.magnify-button {
    #476471
}*/

